:root {
  --lightaqua: rgb(92, 209, 255);
  --darkpurple: rgb(59, 18, 155)
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.dashboardcurrent {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.navbar {
  margin: 0;
  display: flex;
  height: 5rem;
  align-items: center;
  color: white;
  font-size: 15px;
  width: 100%;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  margin-right: 30px;
}
.navlinks {
  display: flex;
  margin-right: 5%;
  margin-left: auto;
  align-items: center;
}

img {
  height: 50%;
  float: left;
  width: auto;
  padding-left: 5%;
  padding-top: 3px;
}

.textlink {
  color: inherit;
  text-decoration: inherit;
}

.textlink:hover {
  color: var(--lightaqua);
}

.panel {
  background-color: white;
  height: 75vh;
  border-radius: 30px;
  color: var(--darkpurple);
  cursor: pointer;
  flex: 1; 
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: flex 0.7s ease-in;
}

.bookinfo {
  opacity: 0;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel.active .bookinfo {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel h1 {
  font-size: 25px;
}

.panel h2 {
  font-size: 15px;
}

.panel.active {
  flex: 5;
}

.container {
  display: flex;
  width: 70vw;
}


.landingdashboard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingdashboard h1 {
  color: var(--lightaqua);
  font-size: 50px;
  margin-bottom: 0;
}

.landingdashboard h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}

.landingdashboard h3 {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2%;
}

.loginbtn {
  background-color: var(--lightaqua);
  border: none;
  border-radius: 10px;
  height: 3rem;
  color: var(--darkpurple);
  font-size: 15px;
  font-weight: 600;
  margin-top: 25px;
  width: 10rem;
}

.loginbtn:hover {
  background-color: rgb(165, 179, 218);
}

.loginbtn:active {
  transform: scale(0.94);
  outline: none;
}

.loginbtn:focus {
  outline: none
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.formBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBox h3 {
  color: gray;
  font-weight: 700;
  font-size: 15px;
}

.formBox input:focus {
  outline:none;
}

.formBox input {
  height: 3rem;
  background-color: transparent;
  border: 3px solid var(--lightaqua);
  border-radius: 10px;
  width: 100%;
  color: white;
  font-size: large;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.librarycontainer {
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  list-style: none;
  margin: 0px 50px;
  border: 3px solid var(--lightaqua);
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40vh;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.booklist {
  height: 90%;
  background-color: white;
  margin: 30px;
  width: 15rem;
  display: flex;
  border-radius: 10px;
}

.smallcardinfo {
  height: auto;
  width: 30vh;
}

h1 {
  color: var(--lightaqua)
}

.bodydashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbtn {
  background-color: var(--lightaqua);
  border: none;
  border-radius: 10px;
  height: 2rem;
  color: var(--darkpurple);
  font-weight: 600;
  width: 5rem;
}

.navbtn:hover {
  background-color: rgb(165, 179, 218);
}

.navbtn:active {
  transform: scale(0.94);
  outline: none;
}

.navbtn:focus {
  outline: none
}

.addbookcard {
  background-color: white;
  height: 80vh;
  width: 50vw;
  border-radius: 30px;
  color: var(--darkpurple);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addbookform {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
}

.radio {
  margin-top: 10px;
  display: flex;
}

.radioitem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
  flex: 1;
}

.radioitem h3 {
  font-size: medium;
  text-align: center;
}

.addbookcard .loginbtn {
  margin: 0;
}

.addbookcard input {
  color: var(--darkpurple)
}

.verticalflextext {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  font-size: small;
  text-align: center;
}

.verticalflextext h3 {
  margin: 5px
}