@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  /* since column, align-items aligns horizontally and justify aligns vertically, for them to align vertically we must add a height */
  overflow: hidden;
  background: rgba(60, 24, 109, 1.0);
  background: -webkit-linear-gradient(top left, rgba(60, 24, 109, 1.0), rgba(19, 60, 138, 1.0));
  background: -moz-linear-gradient(top left, rgba(60, 24, 109, 1.0), rgba(19, 60, 138, 1.0));
  background: linear-gradient(to bottom right, rgba(60, 24, 109, 1.0), rgba(19, 60, 138, 1.0));
  /* this hides scroll bars by default */
}
